.popup_form{
  background-color: transparent;

}
.form_popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    // background-color: rgba(226, 34, 34, 0.4);
    // background-color: transparent;

  }
  .form_container {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
  }
  
  .form_container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form_container input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
  }
  
  .form_container .btn {
    background-color: #4CAF50;
    color: rgb(22, 21, 21);
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .form_container .cancel {
    background-color: #ccc;
  }
  
  .form_container .btn:hover, .form_container .cancel:hover {
    opacity: 0.8;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999; /* Đặt lớp cao để form nổi hiển thị trên các phần tử khác */
  }
  
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    z-index: 10000; /* Đặt lớp cao hơn form-overlay */
  }
.button_add{
    margin: 5px;
    border-radius: 5px;
    background-color: #4CAF50;
    padding: 5px;
}
.form_container input{
  
    color: black;
}