// *,
// *:before,
// *:after {
//    box-sizing: border-box;
// }
.container_form {
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 100px;
  width: 40%;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
.account_info {
  padding: 20px 20px 0 20px;
}
.account_info label {
  margin-top: 30px;
  color: #395870;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}
.account_info input {
  background: #fff;
  border: 1px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}
.account_action {

  background-color: var(--primary);
  border-top: 1px solid #c6c7cc;
  padding: 20px;
}
.account_action .btn {
  background-color: var(--primary);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  /* float: ; */
  padding: 8px 16px;
  width: 100%;

}
.error{
  color: red;
}


// 

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999; /* Đặt lớp cao để form nổi hiển thị trên các phần tử khác */
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  z-index: 10000; /* Đặt lớp cao hơn form-overlay */
}


.form_container {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.form_container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form_container input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: black;
  
}

.form_container .btn {
  background-color: var(--primary);
  color: rgb(22, 21, 21);
  padding: 14px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 40%;
  margin-left: 10px;
}
.form_button{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// 
.form_container span{
  margin: 0 auto;
}