.comment-post {
    background-color: #faf9fb;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #d9d9d7;
    margin-bottom: 30px;
    max-width: 800px;
}

.textarea {
    background-color: #fff;
    resize: none;
    border-radius: 3px;
    border: solid 1px #d9d9d7;
    font: 16px/24px Averta, sans-serif;
    box-shadow: none;
    height: 150px;
    width: 100%;
}

.action {
    margin-top: 15px;
}
