.Form{
    .s1{
        text-align: center;
        button{
            width: 15%;
        }
    }
    
    margin: 5% 26%;
    
}
.container_addCategories_addArtists{
    background-color: transparent;

}