

.menu2{
    display: flex;
    .s1{
        width: 40%;
    }
    .s2{
        width: 52%;
    }
    .table{
        width: 100%;
    }
    
}

.container_Main{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.container_Form{
//    float: right;
    min-height: 1000px;

}
.container_Menu{
    width: 15%;

}
